.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}
.inputItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}