.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
}

.inputItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 30px 0;
}
.inputStyles {
    border-radius: 5px;
    height: 30px;
    width: 300px;
}

.respMessage {
    color: red;
    position: absolute;
    right: 0;
    bottom: -20px;
}